<script>
    const hbs=require('hbs');
    hbs.registerHelper('ifIn',function (element,list,options) {
        if(list.indexOf(element)>-1){
            return options.fn(this);
        }
        return options.inverse(this);
    })
</script>
<style>
    #content{
        width: 250px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

</style>
<div class="container body-content">
<h1 style="margin-left: 43%;font-weight: bolder"> {{category.name}}</h1>
    <div class="row" style="margin-top: 120px">

        {{#each articles}}

            <div class="col-md-8" >

                <article style="margin-left: 55%;border-top: 2px solid darkred;border-radius: 10px">
                    <header>
                        <span>
                            <img src="/uploads/{{this.author.img.name}}" class="img-circle" height="35" width="35" style="margin-top: 3px"/>
                        </span>
                        <small class="author" style="font-style: italic;font-weight: bold;font-size: large">
                            {{ this.author.fullName }}
                        </small>
                        <a href="/article/details/{{this.id}}"><h3 style="font-weight: bolder">{{this.title}}&raquo;</h3></a>

                    </header>


                    <img src="/uploads/{{this.image.name}}" class="img-rounded" width="300px" height="300px">

                    <p id="content">
                        {{ this.content }}
                    </p>


                        <br>
                    <h1>(Likes: {{this.likes.length}}!)</h1>
                        <form name='likePost' action="/article/like/{{this.id}}" method='post'>
                            <button class="btn btn-success" onclick="myFunction.call(this)"  >Like</button>
                        </form>

                        <br>
                        <br>
                        <br>
                        <script>
                            var success=true;

                            function myFunction() {
                                if(success){
                                    $(this).removeClass('btn btn-success').addClass('btn btn-danger');
                                    success=false;
                                }else{
                                    $(this).removeClass('btn btn-danger').addClass('btn btn-success');
                                    success=true;
                                }
                            }


                        </script>
                </article>

            </div>

        {{/each}}

    </div>

    <span class="glyphicons glyphicons-arrow-up"></span>

        <ul class="pagination" style="margin-left: 40%">
            {{#paginate pagination type="first"}}
                <li {{#if disabled}}class="disabled"{{/if}}><a href="{{this.id}}?page={{n}}">First</a></li>
            {{/paginate}}
            {{#paginate pagination type="previous"}}
                <li {{#if disabled}}class="disabled"{{/if}}><a href="{{this.id}}?page={{n}}">Prev</a></li>
            {{/paginate}}
            {{#paginate pagination type="middle" limit=limit}}
                <li {{#if active}}class="active"{{/if}}><a href="{{this.id}}?page={{n}}">{{n}}</a></li>
            {{/paginate}}
            {{#paginate pagination type="next"}}
                <li {{#if disabled}}class="disabled"{{/if}}><a href="{{this.id}}?page={{n}}">Next</a></li>
            {{/paginate}}
            {{#paginate pagination type="last"}}
                <li {{#if disabled}}class="disabled"{{/if}}><a href="{{this.id}}?page={{n}}">Last</a></li>
            {{/paginate}}
        </ul>

</div>